<h1>
  <%= @chat.name %> 
</h1>

<h4>
  <%= link_to "Edit", edit_chat_path%>
  <%= button_to "Delete Chat", chat_path, 
      form: { data: { turbo_confirm: "Are you sure?"} }, 
      method: :delete,
      class: "btn btn-danger btn-sm float-right"%>
  </h4>


<div class="col">
  <div>
    <% @messages.each do |message| %>
    <div class="col">
      <p class="mb-1">
        <%= message.user.username%> : <%=message.msg %>
      </p>
      <div class="text-right">
        <small>
          <%= message.created_at %>
        </small>
      </div>
    </div>
    <% end %>
  </div>

  <%= simple_form_for @message, remote: true do |form| %>
  <div class= 'input-group'>
    <%= form.input :msg, as: :string,
    wrapper: false,
    label: false,
    input_html: {
     class: 'chat-input'
     }%>
     <div>
      <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
    </div>
  </div>
</div>

  <%= form.input :chat_id, as: :hidden %>
  <% end %>
</div>
</div>